.navbar{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  width: 200px;
  height: auto;
}

.navbar-menu{
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

 @media (max-width:1050px){
  .navbar .logo{
    width: 140px;
  }
  .navbar-menu{
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right{
    gap: 30px;
  }

  .navbar-right img{
    width: 22px;
  }
  .navbar-right button{
    padding: 8px 25px;
  }
 }


  @media (max-width:900px){
  .navbar .logo{
    width: 120px;
  }
  .navbar-menu{
    gap: 15px;
    font: 16px;
  }

  .navbar-right{
    gap: 20px;
  }

  .navbar-right img{
    width: 21px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px;
  }
 }

   @media (max-width:750px){
  .navbar-menu{
  display: none;
  }
 }

  @media (max-width:550px){
  .navbar .logo{
    width: 120px;
  }

  .navbar-right{
    gap: 15px;
  }

  .navbar-right img{
    width: 18px;
  }
  .navbar-right button{
    padding: 4px 15px;
  }
 }

   @media (max-width:410px){
  .navbar .logo{
    width: 100px;
  }

  .navbar-right{
    gap: 10px;
  }

  .navbar-right img{
    width: 15px;
  }
  .navbar-right button{
    padding: 3px 14px;
    font-size: 13px;
  }
 }

    @media (max-width:410px){
  .navbar .logo{
    width: 100px;
  }

  .navbar-right{
    gap: 10px;
  }

  .navbar-right img{
    width: 15px;
  }
  .navbar-right button{
    padding: 3px 14px;
    font-size: 13px;
  }
 }

    @media (max-width:350px){
.navbar{
  padding:20px 0;
}

  .navbar .logo{
    width: 100px;
  }

  .navbar-right{
    gap: 10px;
  }

  .navbar-right img{
    width: 15px;
  }
  .navbar-right button{
    padding: 3px 14px;
    font-size: 13px;
  }
 }
