@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}

.navbar-right{
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button{
  background: transparent;
  font-size: 16px;
  border: 1px solid tomato;
  color: #49557e;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0;
}

.navbar button:hover{
  background-color: #fff4f2;
}

.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li{
  cursor: pointer;
}

.navbar-search-icon{
  position: relative;
}

.navbar-search-icon .dot{
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100% {
    opacity:1
  }
}


